/* .search-div {
  height: 50px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
} */
/* .voice-search-icon {
  width: 70px;
  height: 30px;
} */
